[submodule "apps/megabasic-docker"]
	path = apps/megabasic-docker
	url = https://github.com/Szlain/megabasic-docker.git
[submodule "apps/graphql"]
	path = apps/graphql
	url = https://github.com/Szlain/graphql.git
[submodule "libs/fuse"]
	path = libs/fuse
	url = https://github.com/Szlain/fuse.git
